* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Segoe UI', Roboto, sans-serif;
    background: #000000;
    color: #f5f5f7;
    overflow-x: hidden;
}

/* Header start */

.header {
    width: 1600px;
    height: 700px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header_btn {
    width: 200px;
    height: 50px;
    margin-top: 38px;
    margin-left: 232px;
    border-radius: 10px;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

    display: block;
}

.header_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.active {
    opacity: 1;
}

.header_curtain {
    position: absolute;
    top: 256px;
    left: 432px;
}

.header_text {
    font-family: Prosto system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 75px;
    margin-left: 50px;

    color: white;
}

.header_btn:hover {
    background-color: black;
    border-color: white;

    color: white;
}

/* Header end */

/* main start */

section {
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

.main {
    max-width: 100%;
    margin: 0 auto;
}


.airpods_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.airpods_info_text {
    width: 538px;
    height: 359px;
    top: 774px;
    left: 168px;


    font-family: Montserrat;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;


}

.airpods_info_img {
    width: 552px;
    height: 335px;
}

.airpods_info_img2 {
    width: 562px;
    height: 408px;
    top: 1115px;
    left: 190px;

}

.airpods_info_img3 {
    width: 268px;
    height: 375px;
    top: 1573px;
    left: 666px;
}

.airpods_info_text3 {
    width: 333px;
    height: 120px;
    top: 1718px;
    left: 245px;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;


}

.airpods_info_text4 {
    width: 333px;
    height: 144px;
    top: 1706px;
    left: 1020px;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;

}

/* hair start */
.hair {
    width: 100%;
    height: 65px;
    background-color: #282828;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 0 245px;


}

.logo {
    width: 100px;
    height: 53px;
    top: 6px;
    left: 245px;

}

.hair_links_logos {
    display: flex;
    align-items: center;

    gap: 30px;

    margin: 0 245px;
}

.links {
    display: flex;

    gap: 30px;
}

.link {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;

    line-height: 100%;
}

.icons {
    color: white;
}

.links:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* hair end */
/* foter start */
.fotter {
    width: 100%;
    height: 215px;
    top: 2394px;
    background-color: #282828;

    display: flex;
    align-items: center;

    padding: 0 245px;

    justify-content: space-around;
}